@charset "utf-8";
/* CSS Document */
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.container {
  width: 1420px;
  margin: auto;
  height: auto;
  padding: 0;
}
.header {
  background-color: #e8e7d5;
  width: 100%;
  margin: 0 0;
}
/* Navigation */
.menu_contain {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-bottom: 10px;
  margin: -1px 14%;
}
ul.dropdown li {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  font-weight: 700;
}
.menu_contain li :hover {
  cursor: pointer;
  background: #fff;
  border: 2px solid #f4f0ed;
}
.logo img {
  float: left;
  margin: 2% 0%;
}
.contact {
  color: #0c3e7e;
}
.banner {
  width: 100%;
}
.item img {
  width: 100%;
  background-size: cover;
}
.text-box {
  width: 400px;
  height: auto;
  margin: auto;
  padding: 0 0;
}
.code {
  background-color: #ffffff;
  width: 400px;
  height: auto;
  margin: 0px 0 0 0;
  padding: 15px 0;
  border: 1px solid #f6f6f6;
  float: left;
  box-shadow: 2px 2px 9px 1px rgb(2 6 0 / 53%);
  top: 146px;
  position: absolute;
}
.carousel-inner {
  position: relative;
  width: 100%;
}
.slider_head {
  color: #FFFFFF;
  letter-spacing: 7px;
  font-family: arimo;
  font-size: 20px;
}
h1.slider_text {
  width: 100%;
  color: #FFFFFF;
  letter-spacing: 10px;
  font-family: arimo;
  font-size: 60px;
}
.overlay-bottom-slide {
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 0;
  top: 100%;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
  background-color: black;
}
.carousel-inner:hover .image {
  opacity: 0.7;
}
.carousel-inner:hover .overlay-bottom-slide {
  top: 0;
  height: 100%;
  opacity: 0.5;
}
.text {
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.carousel-caption {
  padding: 20px;
  background: #f6f6f6;
  left: 55%;
  top: 185px !important;
  width: 400px;
  float: left;
  height: 209px;
  opacity: 0.8;
}
.carousel-heading1 {
  font-size: 30px;
  color: #000000;
}
.carousel-para1 {
  font-size: 20px;
  color: #000000;
}
h2 {
  padding: 0;
  margin: 0 0 15px;
  width: 100%;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}
/*home section*/
.home_cont {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  background-color: #f4f0ed;
}
.about {
  width: 100%;
}
.about_head {
  font-family: aclonica;
  padding: 20px 0;
  margin: 5% auto 0;
  text-align: center;
  font-size: 25px;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 2px;
}
.about_text {
  font-size: 5rem;
  font-family: arizonia;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 7px;
}
.about_para {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  padding: 20px 0;
  margin: 0 auto 3%;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 2px;
}
.about_cont {
  width: 80%;
  height: auto;
  display: flex;
  margin: 0 10%;
}
.about_b1 {
  width: 100%;
  float: left;
  margin: 0 0;
}
.about_b1 img {
  margin: 0 auto;
  float: left;
}
h2.center {
  margin-top: 140px;
  font-size: 40px;
}
.welcome {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #f4f0ed;
}
.b_1 {
  width: 30%;
  height: auto;
  margin: 5% auto;
}
.b_2 {
  width: 30%;
  height: auto;
  margin: 5% auto;
}
.b_3 {
  width: 30%;
  height: auto;
  margin: 5% auto;
}
.b_text {
  letter-spacing: 2px;
  text-align: center;
  padding: 0 0 20px 0;
  color: #a59f93;
}
h5.servicing-head {
  font-family: aclonica;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 2px;
}
.b_1 img {
  text-align: center;
  padding: 20px 85px;
}
.b_2 img {
  text-align: center;
  padding: 20px 85px;
}
.b_3 img {
  text-align: center;
  padding: 20px 85px;
}
.book {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #f4f0ed;
}
.book_cont {
  width: 100%;
  height: auto;
  display: flex;
  margin: 5% 0;
  background-color: #f4f0ed;
}
.book_head {
  font-family: aclonica;
  padding: 20px 0;
  margin: 5% auto 0;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 25px;
}
.book_text {
  font-size: 5rem;
  font-family: arizonia;
  padding: 20px 0;
  margin: 0 auto 3%;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 7px;
  width: 100%;
}
.book_para {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  padding: 20px 0;
  margin: 0 auto 3%;
  color: #52534e;
  font-weight: 200;
  letter-spacing: 2px;
}
#btn {
  background-color: #afafa5;
  font-size: 14px;
  padding: 10px;
  width: 30%;
  color: #fff;
  border: none;
}
#btn:hover {
  background-color: #fff;
  color: #afafa5;
  border: 2px solid #afafa5;
}
#btn_2 {
  background-color: #afafa5;
  font-size: 14px;
  padding: 10px;
  width: 30%;
  color: #fff;
  border: none;
}
#btn_2:hover {
  background-color: #fff;
  color: #afafa5;
  border: 2px solid #afafa5;
}
.book_b1 {
  width: 50%;
  margin: 0 2% 0 0;
  height: auto;
  float: left;
}
.book_b2 {
  width: 50%;
  margin: 0 8% 0 0;
  height: auto;
  float: left;
}
.Venue_head {
  font-family: aclonica;
  padding: 20px 0;
  margin: 5% auto 0;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 25px;
}
.portfolio_head {
  font-family: aclonica;
  padding: 20px 0;
  margin: 5% auto 0;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 25px;
}
.portfolio_text {
  font-size: 5rem;
  font-family: arizonia;
  padding: 20px 0;
  margin: 0 auto 3%;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 7px;
}
.portfolio_cont {
  width: 100%;
  margin: auto;
  display: flex;
}
.venuet_head {
  font-family: aclonica;
  padding: 20px 0;
  margin: 5% auto 0;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 25px;
}
.Venue_text {
  font-size: 5rem;
  font-family: arizonia;
  padding: 20px 0;
  margin: 0 auto 3%;
  text-align: center;
  color: #63463e;
  font-weight: 200;
  letter-spacing: 7px;
}
.Venue_cont {
  width: 100%;
  margin: auto;
  display: flex;
}
.couple {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.portfolio_cont img {
  transition: transform .2s;
}
.portfolio_cont img:hover {
  -ms-transform: scale(.9); /* IE 9 */
  -webkit-transform: scale(.9); /* Safari 3-8 */
  transform: scale(.9);
}
h5 {
  font-size: 30px;
  padding: 0 0 20px 1%;
  margin: 0;
  width: 92%;
  font-weight: 700;
  margin-top: 10%;
}
ul.icon-cont {
  margin: auto;
  padding: 0 0;
  overflow: hidden;
}
ul.icon-cont li {
  margin: 0 0 0 0;
  width: 100%;
  height: auto;
  padding: 0 0;
  color: #505050;
}
.icon-cont a {
  font-size: 15px;
  text-decoration: none;
  color: #545454;
  line-height: 150%;
}
h4.service {
  font-size: 30px;
  font-weight: bolder;
  color: #000000;
  margin: 10% 0 25px 0;
}
.servicing {
  width: 100%;
  float: left;
}
.service-tex1 {
  margin: 0 0;
  padding: 0 0 1%;
  font-size: 15px;
  color: #514D4D;
  line-height: 150%;
}
.service-text2 {
  font-size: 15px;
  color: #5F5F5F;
  line-height: 150%;
  padding: 0 0 1% 0;
}
.servicing-cont {
  width: 100%;
  display: flex;
  height: auto;
}
.box {
  width: 30%;
  margin: 0 5% 5% 0;
  height: auto;
  color: #8d7d70;
  text-align: center;
  border: 1px solid #000000;
  padding: 60px 0;
}
.box1 {
  width: 30%;
  padding: 15px;
  margin: 0 0 5% 0;
  height: auto;
  color: #8d7d70;
  text-align: center;
  border: 1px solid #000000;
  padding: 60px 0;
}
h6.servicing-head {
  font-size: 30px;
  padding: 0 0;
  letter-spacing: 5px;
  margin: 0 0px;
  font-family: arimo;
  color: #858585;
}
.servicing-text {
  font-size: 16px;
  padding: 10px 0px 0 0px;
  color: #9EA1A2;
  line-height: 145%;
  font-weight: 100;
}
.contact-us {
  width: 100%;
  float: left;
}
h4.contact-head {
  font-size: 30px;
  font-weight: bolder;
  color: #000000;
  margin: 120px 0 15px 0;
}
.contact-text {
  font-size: 18px;
  color: #595959;
  color: #000000;
  margin: 0 0 15px 0;
}
.text-box1 {
  width: 480px;
  margin: 0 0;
  padding: 0 0;
}
.section-9 select {
  width: 350px;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 0 0 8px;
  color: #616161;
}
ul.section-9 {
  width: 480px;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  margin: 0 32px 0 0;
  padding: 0 0;
  height: auto;
  list-style-type: none;
}
ul.section-9 li {
  margin: 0 0;
  width: 100%;
}
.btn1:hover {
  background: #980608;
  color: #ffffff;
}
.section-10-text2 {
  font-size: 17px;
  padding: 20px 0 0 0;
  margin: 0 0;
  line-height: 150%;
}
.section-9 input[type=text] {
  width: 450px;
  height: 40px;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0px 0px 15px 0;
  display: inline-block;
  border: 1px #cccccc solid;
  box-sizing: border-box;
}
.section-9 input[type=email] {
  width: 450px;
  height: 40px;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0px 0px 15px 0;
  display: inline-block;
  border: 1px #cccccc solid;
  box-sizing: border-box;
}
.section-9 input[type=number] {
  width: 450px;
  height: 40px;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0px 0px 15px 0;
  display: inline-block;
  border: 1px #cccccc solid;
  box-sizing: border-box;
}
.section-9 input[type=message] {
  width: 450px;
  height: 100px;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0px 0px 15px 0;
  display: inline-block;
  border: 1px #cccccc solid;
  box-sizing: border-box;
}
.img-cont {
  width: 400px;
  margin: 0 0 0 5%;
  padding: 0 0;
}
.footer {
  width: 100%;
  margin: 0;
  padding: 30px 0 0 0%;
  height: 190px;
  background-color: #f4f0ed;
  float: left;
}
.copyright {
  text-align: center;
  margin: 0;
  padding: 1% 0 0 0;
}
.end-text {
  text-align: center;
  width: 100%;
  margin: 0 0;
  padding: 0;
  float: left;
}
.up-symbol img {
  float: right;
  margin: -3% 20% 0 20%;
  padding: 0 0%;
}
.up-symbol img {
  float: right;
  margin: -7% 5% 0 0%;
  padding: 0 0%;
  width: 4%;
}
/**********************************************************************************************
smaller than 1440px
***********************************************************************************************/
@media screen and (max-width:1440px) {
  .container {
    width: 96%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .logo img {
    float: none;
    margin: 2% 0%;
  }
  .portfolio_cont {
    flex-direction: column;
    width: 82%;
  }
  .book_b2 img {
    width: 90%;
    margin: 0 5% 0 0;
  }
  .book_b2 {
    width: 79%;
    margin: 5% 0% 0 0;
    height: auto;
    float: left;
  }
  .book_b2 img {
    width: 100%;
    margin: 0 5% 0 0;
  }
}
/**********************************************************************************************
smaller than 1024px
***********************************************************************************************/
@media screen and (max-width:1024px) {
  .header {
    background-color: #e8e7d5;
    width: 100%;
    margin: 0 0;
  }
  .container {
    width: 100%;
    margin: auto;
    height: auto;
  }
  .code {
    top: 139px;
    position: absolute;
  }
  .menu_contain {
    width: 90%;
  }
  .logo img {
    float: left;
    margin: 2% 0%;
  }
  #logo {
    width: 100%;
    text-align: center;
  }
  #nav {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 10px 0 0;
    background: #f3600a;
    padding-bottom: 10px;
  }
  .carousel-caption {
    top: 100px !important;
    height: 145px;
    padding: 0;
    left: 49%;
  }
  .carousel-inner img {
    height: 450px;
    height: 450px !important;
  }
  .item img {
    width: 100%;
  }
}
/**********************************************************************************************
smaller than 768px
**********************************************************************************************/
@media screen and (max-width:768px) {
  .header {
    width: 100%;
    margin: 0 0;
    float: left;
    height: auto;
  }
  .container {
    width: 100%;
    margin: auto;
    height: auto;
  }
  .logo img {
    float: none;
    margin: 2% 34%;
  }
  .banner {
    width: 100%;
    height: auto;
    margin: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
  }
  .home_cont {
    flex-direction: column;
  }
  h2 {
    margin: 23% 0 15px;
  }
  .b_1 {
    width: 43%;
  }
  .b_2 {
    width: 43%;
  }
  .b_3 {
    width: 43%;
  }
  .btn2 {
    width: 100%;
    height: 50px;
    font-size: 22px;
    padding: 10px 14px;
    background: #f3600a;
    color: #ffffff;
    margin: 0px 0px 40px 0;
    display: inline-block;
    border: 1px #cccccc solid;
    box-sizing: border-box;
  }
  .about_cont {
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
  .carousel-caption {
    display: none;
  }
  .book_cont {
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
  .portfolio_cont {
    flex-direction: column;
    width: 60%;
  }
  .book_b1 {
    width: 100%;
    /* margin: 0 2% 0 0; */
    height: auto;
    /* float: left; */
    text-align: center;
  }
  h4 {
    font-size: 30px;
    font-weight: bolder;
    color: #000000;
    margin: 10% 0 5% 0;
  }
  .book_b2 {
    width: 100%;
    margin: 5% auto;
    height: auto;
    float: left;
  }
  .Venue_cont {
    flex-direction: column;
  }
  .servicing-text {
    font-size: 18px;
    padding: 30px 0 0 0;
    color: #606060;
    line-height: 145%;
    margin: 0 auto;
  }
  hr {
    margin: 5% 25%;
  }
  h5 {
    padding: 0px 0 20px 0%;
    margin-top: 3%;
  }
  .toyota-innova {
    width: 100%;
    margin: 0 0;
    height: auto;
    padding: 0 0;
  }
  h6 {
    font-size: 25px;
    padding: 0 0;
    margin: 5% 0 3% 0;
    width: 100%;
  }
  .mybox {
    width: 70%;
    margin: 0px 15%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  h2.about_b1 {
    font-family: arimo;
    padding: 0 0 15px 0;
    text-align: center;
    margin: -5% 0 0 0;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
  }
  .blue-box {
    font-size: 15px;
    width: 100%;
  }
  .gray-box {
    float: left;
    width: 100%;
    height: auto;
    margin: 1px 0;
    color: #464343;
    font-size: 15px;
    padding: 9px 30px;
    background-color: #cccccc;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  .text-box {
    width: 100%;
    margin: 0;
  }
  .form select {
    width: 100%;
  }
  ul.form {
    width: 96%;
    margin: 0 2%;
  }
  .box1-text {
    margin: auto;
    font-size: 16px;
    padding: 5% 0 0 0;
    width: 100%;
    text-align: center;
  }
  h4.service {
    font-size: 30px;
    font-weight: bolder;
    color: #000000;
    margin: 3% 0 25px 0;
  }
  .servicing {
    width: 100%;
    float: left;
    padding: 0;
  }
  h6.servicing-head {
    font-size: 22px;
    padding: 5px 0;
    margin: 0 0px;
    color: #0c3e7e;
  }
  .servicing-text {
    font-size: 18px;
    padding: 10px 0 5px 0;
    color: #606060;
    line-height: 145%;
    margin: 0 0;
  }
  .service-tex1 {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
  }
  .service-tex2 {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
  }
  .servicing-cont {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .box {
    width: 59%;
    padding: 38px;
    margin: 2% auto;
    height: auto;
    background-color: #eeeeee;
  }
  .box1 {
    width: 59%;
    padding: 38px;
    margin: 2% auto;
    height: auto;
    background-color: #eeeeee;
  }
  .box2 {
    width: 100%;
    padding: 15px;
    margin: 2% 0%;
    height: auto;
    background-color: #eeeeee;
  }
  .box3 {
    width: 100%;
    padding: 15px;
    margin: 2% 0%;
    height: auto;
    background-color: #eeeeee;
  }
  .box4 {
    width: 100%;
    padding: 15px;
    margin: 2% 0%;
    height: auto;
    background-color: #eeeeee;
  }
  h4.contact-head {
    font-size: 30px;
    font-weight: bolder;
    color: #000000;
    margin: 3% 0 0 0;
    width: 94%;
    padding: 0 3%;
  }
  .contact-text {
    font-size: 18px;
    color: #000000;
    margin: 0 0;
    width: 94%;
    padding: 3% 3%;
  }
  .form-cont {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    flex-direction: column;
  }
  .text-box1 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 0;
  }
  ul.section-9 {
    width: 100%;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0 0;
    height: auto;
    list-style-type: none;
  }
  .section-9 select {
    width: 100%;
    height: 40px;
    padding: 0 0 0 8px;
    margin: 0 0% 2% 0;
  }
  .section-9 input[type=text] {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 0 0 2% 0;
  }
  .section-9 input[type=email] {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 0 0 2% 0;
  }
  .section-9 input[type=number] {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 0 0 2% 0;
  }
  .section-9 input[type=message] {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 0 0 2% 0;
  }
  .btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0px 0px 15px 0;
  }
  .btn1 {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0 0;
  }
  .img-cont {
    width: 100%;
    margin: 0;
    padding: 0 0;
    height: auto;
  }
  .address {
    width: 100%;
    padding: 13px 2%;
    margin: 2% 0%;
    background-color: #eeeeee;
    height: auto;
  }
  .address-1 {
    width: 100%;
    padding: 13px 2%;
    margin: 2% 0%;
    background-color: #eeeeee;
    height: auto;
  }
  h5.section-10-text {
    font-size: 22px;
    width: 92%;
    margin: 0 0;
    padding: 0 0;
    font-weight: 400;
  }
  .section-10-text2 {
    font-size: 17px;
    padding: 5px 0 0 0;
    margin: 0 0;
    line-height: 150%;
  }
  .location {
    max-width: 768px;
  }
  h6.direction {
    font-size: 25px;
  }
  .up-symbol img {
    float: none;
    margin: 0% 20%;
    padding: 0 0%;
  }
}
/**********************************************************************************************
smaller than 425px
**********************************************************************************************/
@media screen and (max-width:428px) {
  .header {
    width: 100%;
    margin: 0 0;
    float: left;
  }
  .container {
    width: 100%;
    margin: auto;
    height: auto;
  }
  .logo img {
    float: none;
    margin: 2% 0;
    width: 50%;
  }
  .banner {
    width: 100%;
  }
  .b_1 {
    width: 90%;
  }
  .b_2 {
    width: 90%;
  }
  .b_3 {
    width: 90%;
  }
	.portfolio_text {
    font-size: 2rem;
}
	.Venue_text {
    font-size: 2rem;
}
	.book_text {
    font-size: 2rem;
}
	 .port_box{
    width: 100%;
    margin: 3% auto;
  }
  .port_box img {
    width: 100%;
    margin: 3% auto;
  }
  .box {
    width: 100%;
  }
  .box1 {
    width: 100%;
    padding: 38px 38px;
  }
  .text-box {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0 0;
  }
  h2 {
    padding: 5% 0 10px 6%;
    text-align: center;
    font-size: 22px;
  }
  .form select {
    width: 350px;
    height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 0 0 8px;
    color: #616161;
    font-weight: 400;
  }
  ul.form {
    width: 90%;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    margin: 2% 5%;
    padding: 0 0;
    height: auto;
    list-style-type: none;
  }
  .offer-cont {
    width: 100%;
    height: auto;
    margin: auto;
    flex-direction: column;
    padding: 0 0;
  }
  .travels {
    width: 100%;
    height: auto;
    margin: auto;
    float: left;
  }
  .service-tex1 {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0;
    font-size: 17px;
  }
  h4 {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    margin: 7% 0% 5% 0%;
    padding: 0;
    width: 100%
  }
  .first-p {
    font-size: 17px;
    color: #2e2e35;
    margin: 0;
    width: 100%;
    padding: 0 0;
  }
  .second-p {
    font-size: 16px;
    color: #2e2e35;
  }
  h5 {
    padding: 0px 0 5px 3%;
    margin: 0 auto;
    width: 100%;
    margin-top: 3%;
    font-size: 22px;
  }
  .car-offer {
    width: 100%;
    height: auto;
    margin-top: 10%;
    float: left;
  }
  .offer img {
    margin: 0 0;
    padding: 0 0%;
    width: 100%;
  }
  .car img {
    margin: auto;
    padding: 0 5%;
  }
  hr {
    margin: 5% 25% 10%;
    width: 50%;
  }
  ul.icon-cont li {
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    padding: 5px;
    color: #505050;
    font-size: 16px;
  }
  .tab_content {
    flex-direction: column;
  }
  .mybox {
    width: 100%;
    margin: 0 0%;
    height: auto;
    display: flex;
  }
  .blue {
    width: 50%;
    margin: 0 0;
    height: auto;
    background-color: #0c3e7e;
    float: left;
  }
  .text {
    margin: 2% 0%;
  }
  .gray {
    width: 50%;
    margin: 0 0;
    height: auto;
    background-color: #cccccc;
  }
  .gray-box {
    float: left;
    width: 100%;
    height: auto;
    margin: 1px 0;
    color: #464343;
    font-size: 15px;
    padding: 9px 30px;
    background-color: #cccccc;
    border-right: 1px solid #000000;
  }

  .servicing {
    width: 100%;
    float: left;
    padding: 0;
  }
  h6 {
    font-size: 20px;
    padding: 0 0;
    margin: 5% 0 3% 0;
    width: 100%;
  }
  h4.service {
    font-size: 22px;
    font-weight: bolder;
    color: #000000;
    margin: 3% 0 5% 0;
    padding: 0;
  }
  .box2 {
    width: 100%;
    padding: 0% 5%;
    margin: 2% 0%;
    height: auto;
    background-color: #eeeeee;
  }
  .box3 {
    width: 100%;
    padding: 0% 5%;
    margin: 2% 0%;
    height: auto;
    background-color: #eeeeee;
  }
  .box4 {
    width: 100%;
    padding: 0% 5%;
    margin: 2% 0%;
    height: auto;
    background-color: #eeeeee;
  }
  h6.servicing-head {
    font-size: 22px;
    padding: 20px 0 0 0;
    margin: 0 0px;
    color: #0c3e7e;
  }
  .servicing-text {
    font-size: 16px;
    padding: 4px;
    color: #606060;
    line-height: 145%;
    margin: 2% 0;
  }
  h4.contact-head {
    font-size: 22px;
    font-weight: bolder;
    color: #000000;
    margin: 3% 0 0 0;
    width: 94%;
    padding: 0 3%;
  }
  .contact-text {
    font-size: 16px;
    color: #000000;
    margin: 0 0;
    width: 94%;
    padding: 3% 3%;
  }
  .address {
    width: 100%;
    padding: 11px 5%;
    margin: 7% 0 0 0;
    background-color: #eeeeee;
    height: auto;
  }
  .address-1 {
    width: 100%;
    padding: 11px 5%;
    margin: 2% 0;
    background-color: #eeeeee;
    height: auto;
  }
  h5.section-10-text {
    font-size: 18px;
    width: 92%;
    margin: 0 0;
    padding: 0 0;
    font-weight: 400;
  }
  .section-10-text2 {
    font-size: 14px;
    padding: 20px 0 0 0;
    margin: 0 0;
    line-height: 150%;
  }
  h6.direction {
    font-size: 22px;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #100F0F;
    background-color: #f1f1f1;
  }
  .location {
    width: 100%;
  }
  .footer {
    width: 100%;
    margin: 0;
    padding: 0 0%;
    height: auto;
    background-color: #cccccc;
    float: left;
  }
  .copyright {
    text-align: center;
    margin: 0;
    padding: 4% 0 2% 0;
  }
  .end-text {
    text-align: center;
    width: 100%;
    margin: 0 0;
    padding: 0 0 5% 0;
    float: left;
  }
}
/*******************************************************************************************************
smaller than 724
********************************************************************************************************/
@media screen and (max-width:380px) {
  .container {
    width: 98%;
    height: auto;
    margin: auto;
  }
  .head-box {
    width: 100%;
    height: 10px;
    margin: 0 0 1% 0;
    background-color: #71bf44;
  }
  .logo img {
    margin: 0 25%;
    text-align: center;
  }
  h2 {
    padding: 5% 0 10px 0%;
    text-align: center;
    font-size: 20px;
  }
  .form select {
    width: 100%;
    height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 0 0 8px;
    color: #616161;
  }
  input[type=text], select {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0px 0px 15px 0;
    display: inline-block;
    border: 1px #cccccc solid;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0px 0px 15px 0;
    display: inline-block;
    border: 1px #cccccc solid;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0px 0px 15px 0;
    display: inline-block;
    border: 1px #cccccc solid;
    box-sizing: border-box;
  }
  input[type=message], select {
    width: 100%;
    height: 90px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0px 0px 15px 0;
    display: inline-block;
    border: 1px #cccccc solid;
    box-sizing: border-box;
  }
  .btn2 {
    width: 100%;
  }
  h4 {
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
    margin: 7% 0% 5% 0%;
    padding: 0px 10%;
    width: 80%;
  }
  .first-p {
    font-size: 14px;
    color: #2e2e35;
    margin: 0;
    width: 100%;
    padding: 0 0;
  }
  .second-p {
    font-size: 12px;
    color: #2e2e35;
  }
  .rates {
    width: 96%;
    float: left;
    padding: 0 2%;
  }
  .offer-cont {
    width: 100%;
    height: auto;
    margin: auto;
    flex-direction: column;
    padding: 0 1%;
  }
  h4 {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    margin: 7% 0% 5% 0%;
    padding: 0px 0%;
    width: 100%;
  }
  h5 {
    padding: 0px 0 5px 0%;
    font-size: 20px;
  }
  ul.icon-cont li {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 5px;
    color: #505050;
    font-size: 13px;
  }
  .mybox {
    width: 100%;
    margin: 0 0%;
    height: auto;
    display: flex;
  }
  .btn {
    width: 100%;
    height: 50px;
    font-size: 19px;
    padding: 10px 9px;
    margin: 0px 0px 15px 0;
  }
  .blue {
    width: 64%;
    margin: 0 0;
    height: auto;
    background-color: #0c3e7e;
    float: left;
  }
  .blue-box {
    width: 100%;
    font-size: 15px;
  }
  .gray-box {
    width: 100%;
    font-size: 15px;
  }
  .text {
    font-size: 1.0em;
    margin: 2% 0;
  }
  h6.servicing-head {
    font-size: 19px;
    padding: 0 0;
    margin: 13px 0px 0 0px;
  }
  .service-tex1 {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    font-size: 13px;
  }
  .service-text2 {
    font-size: 13px;
    color: #5F5F5F;
    line-height: 150%;
    padding: 0 0 1% 0;
  }
  .servicing-text {
    font-size: 13px;
    padding: 4px;
    color: #606060;
    line-height: 145%;
    margin: 2% 0;
  }
  h4.contact-head {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    margin: 3% 0 0 0;
    width: 94%;
    padding: 0 3%;
  }
  .contact-text {
    font-size: 15px;
    color: #000000;
    margin: 0 0;
    width: 94%;
    padding: 3% 3%;
  }
}
/***************************************************************************************
smaller than 600px
****************************************************************************************/
@media screen and (max-width:320px) {
  .container {
    width: 98%;
    margin: auto;
    height: auto;
  }
  .car img {
    margin: auto;
    padding: 0 0 0 0%;
    width: 100%;
  }
  .offer-cont {
    width: 98%;
    height: auto;
    margin: auto;
    flex-direction: column;
    padding: 0 1%;
  }
  h4 {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    margin: 10% 0% 5% 0%;
    padding: 0px 0%;
    width: 100%;
    text-align: center;
  }
  h5 {
    padding: 0px 0 5px 0%;
    margin: 0 0%;
    width: 100%;
    margin-top: 3%;
    font-size: 20px;
  }
  h6 {
    font-size: 17px;
  }
  .box {
    width: 100%;
    padding: 15px;
    margin: 2% 0%;
    height: auto;
    background-color: #eeeeee;
  }
  .first-p {
    font-size: 15px;
    color: #2e2e35;
    margin: 0;
    width: 100%;
    padding: 0 0;
  }
  .second-p {
    font-size: 14px;
    color: #2e2e35;
    margin: 5% 0 0 0;
    width: 100%;
    padding: 0 0;
  }
  .offer img {
    margin: 7% 0;
    padding: 0 0%;
    width: 100%;
  }
  hr {
    margin: 5% 25% 10% 25%;
    width: 50%;
  }
  .rates {
    width: 100%;
    float: left;
    padding: 0 0%;
  }
  ul.section-9 {
    width: 100%;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0 0;
    height: auto;
    list-style-type: none;
  }
  .section-10-text2 {
    font-size: 13px;
  }
  .btn1 {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 5px 15px;
    margin: 0 0 5%;
  }
  .box1-text {
    margin: auto;
    font-size: 15px;
    padding: 5% 0 0 0;
    width: 100%;
    text-align: center;
  }
  .blue {
    width: 64%;
    margin: 0 0;
    height: auto;
    background-color: #0c3e7e;
    font-weight: bold;
  }
  .blue-box {
    font-size: 12px;
  }
  .mybox {
    width: 100%;
    margin: 0 0%;
    height: auto;
    display: flex;
  }
  .gray {
    width: 64%;
    margin: 0 0;
    height: auto;
    background-color: #cccccc;
    font-weight: bold;
  }
  .blue-box {
    width: 100%;
    font-size: 13px;
    padding: 10px;
  }
  .gray-box {
    width: 100%;
    font-size: 13px;
    padding: 10px;
  }
  .text {
    margin: 2% 0%;
    padding: 0 0;
    font-size: 13px;
  }
 
  .servicing-text {
    font-size: 15px;
    padding: 4px;
    color: #606060;
    line-height: 145%;
    margin: 2% 0;
  }
  ul.icon-cont li {
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    padding: 0 0 2% 0;
    color: #505050;
    font-size: 13px;
  }
  .btn2 {
    width: 100%;
  }
  h4.service {
    font-size: 20px;
    text-align: start;
    font-weight: bolder;
    color: #000000;
    margin: 3% 0 5% 0;
    padding: 0 0%;
  }
  .b_1 img {
    padding: 20px 40px;
  }
  .b_2 img {
    padding: 20px 40px;
  }
  .b_3 img {
    padding: 20px 40px;
  }
  .about_b1 img {
    width: 100%;
  }
  #btn {
    width: 40%;
  }
}