@charset "utf-8";
/* CSS Document */
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.container{
	width: 98%;
	height: auto;
	margin: auto;
}
.my-box{
	width: 944px;
	height: 260px;
	margin: 0 0 0 25px;
	display: flex;
}
.image-box{
	background-image:url("../images/txtbg1.png");
	background-repeat: no-repeat;
	width: 462px;
	height:175px;
	float: left;
	margin: 0 10px 10px 0;
}
.image-box1{
	background-image:url("../images/txtbg1.png");
	background-repeat: no-repeat;
	width: 462px;
	height:175px;
	float: left;
	margin: 0 10px 10px 10px;
}
h5{
	font-size: 14px;
	font-weight:700;
	padding: 0px 0 0 25px;
	margin: 17px 0 5px 0;
}
.bold-text{
width: 940px;
	height: 260px;
	margin: 0 0 0 25px;
}
.head text{
	width: 30%;
	margin: 10% 0 2% 2%;
	height: auto;
	
}
code-text11{
	width:  30%;
	margin: 10% 0 2% 2%;
	height: auto;
	
}
.paragraph{
	width: 450px;
	margin: auto;
}